* {
  padding: 0;
  margin: 0;
}
html,
body {
  /* scroll-behavior: smooth;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; */
}
.cm-text-overflow3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.cm-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cm-font-size12px {
  font-size: 12px;
  font-family: "PingFangSC-Medium", "PingFang SC Medium", "PingFang SC",
    sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
}

.cm-font-size24px {
  font-size: 24px;
  font-family: "PingFangSC-Medium", "PingFang SC Medium", "PingFang SC",
    sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
}

.cm-btn-wauto {
  width: 100%;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  display: block;
}

.cm-bg-0131AC {
  background: #0131ac;
  transition: all 0.3s ease-in-out;
}
.cm-bg-0131AC:hover {
  background: #022e9f;
  transition: all 0.3s ease-in-out;
}
.cm-link-color {
  color: #0131ac;
}

.cm-login-view {
  width: 1200px;
}

.cm-btn-340px {
  width: 340px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 4px;
}
.cm-btn-88px {
  width: 88px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: block;
  border-radius: 2px;
}

.cm-btn-72px {
  width: 72px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: block;
  border-radius: 2px;
}
.cm-btn-100px {
  width: 100px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: block;
  border-radius: 2px;
}

.cm-btn-154px {
  width: 154px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 2px;
}
.cm-btn-249px {
  width: 249px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 2px;
}
.cm-btn-386px {
  width: 386px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 2px;
}

.cm-bg-fff {
  border: 1px solid #d6dce4;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
}
.cm-bg-2D7FEB {
  border: 1px solid #2d7feb;
  background-color: #2d7feb;
  color: #fff;
  border-color: #2d7feb;
}

.cm-bg-d6dce4 {
  background-color: #fff;
  border: 1px solid #d6dce4;
}
.cm-bg-d6dce4:hover {
  background-color: #fff;
  border: 1px solid #d6dce4;
}

.cm-bg-39841E {
  background: #39841e !important;
  color: #fff;
  transition: all 0.6s ease-in-out;
  border: 0;
  font-size: 14px;
}
.cm-bg-39841E:hover {
  background: #449727 !important;
  color: #fff;
  transition: all 0.6s ease-in-out;
}
.cm-bg-2D7FEB {
  background-color: #2d7feb;
}

.cm-bg-ff5958 {
  background: #ff5958;
}

.cm-bg-d15c5e {
  color: #fff;
  background-color: #d15c5e;
}

.cm-border-ff5958 {
  border: 1px solid rgba(57, 132, 30, 1);
}

.el-tooltip__popper {
  max-width: 30%;
}

::-webkit-scrollbar {
  display: none;
}

.cm-line {
  border-bottom: 1px solid #dcdcde;
  margin: 40px 0;
}

.recharge-title {
  height: 42px;
  line-height: 42px;
  background-color: #fff;
  color: #333437;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 500;
}

.el-dialog {
  max-height: 80% !important;
  overflow: auto;
  margin-top: 8vh !important;
}
.vue-directive-image-previewer{
  z-index: 2021;
}

.el-select-dropdown__item.selected{
  color: #39841e!important;
}

.el-loading-spinner i{
  color: #39841e!important;
  font-size: 40px;
}
.el-loading-text{
  color: #39841e!important;
  margin: 10px 0 0!important;
}
.el-loading-spinner .path{
  stroke: #39841e!important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #39841e;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #39841e;
  background: #39841e;
}
.el-input__inner:focus {
  border-color: #39841e !important;
}

.el-pager li.active{
  color: #39841e !important;
}

.vue-directive-image-previewer{
  z-index: 9999;
}

.comfirm-bg {
  background: #39841e !important;
}


.step___Ozx0H {
  margin: 0;
  padding: 0;
  width: 100%;
}
.step___Ozx0H li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 30px;
  font-size: 13px;
  text-align: center;
  background-color: #d6d6d6;
  line-height: 30px;
  color: #fff;
}

.step___Ozx0H li.current___3c_Ls {
  /* background-color: #0131ac; */
  background-color: #39841e;
}
.step___Ozx0H .arrow___1sC1_ span {
  display: inline-block;
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /* border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; */
}

.step___Ozx0H .current___3c_Ls .arrowSnd___2DgS8 {
    border-top: 15px solid #d6d6d6;
  border-bottom: 15px solid #d6d6d6;
  /* border-top: 15px solid #0131ac!important;
  border-bottom: 15px solid #0131ac!important; */
}
.step___Ozx0H .arrow___1sC1_ {
  position: absolute;
  right: -7.5px;
  height: 30px;
  background-color: #f0f0f0;
  z-index: 2;
}
.step___Ozx0H .current___3c_Ls .arrowFst___1Bypw {
  border-left: 15px solid #39841e!important;
}
.step___Ozx0H .arrow___1sC1_ .arrowFst___1Bypw {
  margin-right: -11px;
}
.step___Ozx0H .next___10Z18 .arrowFst___1Bypw {
  border-left: 15px solid #d6d6d6;
}
.step___Ozx0H .next___10Z18 .arrowSnd___2DgS8 {
  border-top: 15px solid #d6d6d6;
  border-bottom: 15px solid #d6d6d6;
}

.step___Ozx0H li.already___15npT,
.step___Ozx0H li.pre___3cqsR {
  color: #3c6df0;
  background-color: #e3ebfc;
}
.cur-arrow{
    border-top: 15px solid #39841e!important;
  border-bottom: 15px solid #39841e!important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #39841e;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #39841e;
  background: #39841e;
}
.el-radio__inner:hover{
  border-color: #39841e!important;
}

.el-tooltip__popper {
  max-width: 30%;
}

::-webkit-scrollbar {
  display: none;
}

.cm-line {
  border-bottom: 1px solid #dcdcde;
  margin: 40px 0;
}

.recharge-title {
  height: 42px;
  line-height: 42px;
  background-color: #fff;
  color: #333437;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 500;
}

.el-input__inner:focus {
  border-color: #39841e !important;
}
.el-textarea__inner:focus{
  border-color: #39841e !important;
}


.el-header {
  padding: 0;
  background: #1e262b !important;
  color: #797979;
  height: 38px !important;
  display: flex;
  justify-items: center;
  align-items: center;
}

.vue-directive-image-previewer{
  z-index: 9999;
}

.el-step__head.is-finish{
  color: #39841e!important;
  border-color: #39841e !important;
}
.el-step__title.is-finish{
  color: #39841e!important;
}

.el-button--text{
  color: #39841e!important;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  color: #39841e!important;
}
.el-tabs__item:hover {
  color: #39841e!important;
}
.el-select-dropdown__item.selected{
  color: #39841e!important;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: #39841e!important;
}
.el-input--suffix:hover{
  border-color: #39841e!important;
}
.el-pager li.active{
  color: #39841e!important;
}

.el-date-table td.today span{
  color: #39841e!important;
}